<div class="jumbotron">
  <div class="page-header text-center">
    <h2>
      <%= @game.title %>
    </h2>
  </div>
  <% if @game.picture.present? %>
    <%= image_tag @game.picture.url, class: 'center-block img-responsive img-rounded' %>
  <% end %>
  <p><%== @game.content %></p>
</div>
