# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 8006c7e7a87d489bfa44de9ca77bb872686bee86bcdcb59e3b0db3bd29ed45b795593e9fd1da2c2d77f2f17e2219b1a07dab04aacbe27b329cb91002ec8a0e3b

test:
  secret_key_base: df8ca83dc944acfdc63ce4d547d553f85297831646479f839b0da90fa8c9470d94a63448ec88cc426c1631d9ae70e87918620b9162eb4883dfacf4c1fcea8cae

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
