<div class="ui menu">
  <div class="ui container">
    <%= link_to '乐享户外拓展', root_path, class: 'header item' %>
    <%= link_to '拓展游戏库', root_path, class: 'active item' %>
    <div class="right menu">
      <%= link_to '游戏库管理', admin_games_path, class: 'item' %>
    </div>
  </div>
</div>
