<ul class="list-group">
  <% tags.each do |tag| %>
    <%= link_to games_path(tag_id: tag.id), class: 'list-group-item' do %>
      <span class="badge"><%= tag.taggings_count %></span>
      <%= tag.name %>
    <% end %>
  <% end %>
</ul>
