<div class="ui large vertical stackable fluid menu">
  <% tags.each do |tag| %>
    <%= link_to games_path(tag_id: tag.id), class: 'item' do %>
      <%= tag.name %>
      <div class="ui label"><%= tag.taggings_count %></div>
    <% end %>
  <% end %>
</div>
